doctype html
html
    head
    link(rel='stylesheet' href='css/style.css')
    title Галерея

    body.page
        //header
        include _header

        //content
        block content

        //Footer
        include _footer
