header.header.row-space-between
  a.logo.row(href='/')
    .loader
    .col-left
      p.logo-title Картинна галерея
      a.link(href='/statistic') Статистика галереї ⇢

  if !user
    .user
      a.btn(href='/signup') Зареєструватися
      span |
      a.btn.accent(href='/login') Увійти
  else
    .user.dropdown
      .col-right
        p.user-name.txt-purple= user.name
        p.user-email.txt-gray= user.email

      img.user-avatar(src=`/imgs/users/${user.avatar}`)
      .dropdown-content.col-center
        if user.role != 'admin'
          p.desc.col-left Збережене
          a(href='/bought') Мої куплені

        if user.role === 'artist'
          p.desc.col-left Художня майстерня
          a(href='/artist/pictures') Мої картини

        if user.role === 'admin'
          p.desc.col-left Адміністрація
          a(href='/admin/panel') Панель адміністратора
          a(href='/admin/db-backup') Завантажити рез. копію БД

        p.desc.col-left Профіль
        a(href='/update-info') Змінити дані
        a(href='/update-password') Змінити пароль
        if user.role != 'admin'
          div
            a.txt-red#delete-me-btn Видалити профіль
            div.modal
              div.modal-content.col-center
                span.close &times;
                p.modal-txt Якщо ви видалите профіль, очиститься історія всіх куплених вами картин. 
                  if user.role === 'artist' 
                    span.txt-red А також усі ваші картини, завантажені на сайт, стануть неактивними і будуть доступні лише тим, хто їх купив.
                .row-space-between
                  p.modal-txt.txt-purple Ви справді цього хочете?
                  p#delete-me-confirm.btn Так

        a.txt-green.col-right.margin-top#logout-btn Вийти